<div class="page-header">
  <h1>Users
    <small>-Add a new user</small>
  </h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <form name=user-form class="form-horizontal" novalidate>
      <!-- <div class="form-group"> -->
      <label for="firstname" class="col-sm-2 control-label">Firstname</label>
      <div class="col-sm-4">
        <input type="text" ng-model="self.formData.firstname" name="firstname" class="form-control" placeholder="Firstname" />
      </div>
      <div class="col-md-offset-2">
        <input type="submit" class="btn btn-primary" name="submit" value="Add" ng-click="ctrl.submit()">
      </div>
    </form>
  </div>
</div>
